name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      
      - uses: cachix/cachix-action@v15
        with:
          name: cutecosmic
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      
      - name: Build and check
        run: |
          nix flake check
          nix build -L
          cachix push cutecosmic result
      
      - name: Check formatting
        run: |
          nix develop --command clang-format --dry-run --Werror platformtheme/*.cpp platformtheme/*.h
          nix develop --command sh -c "cd bindings && cargo fmt -- --check"
      
      - uses: actions/upload-artifact@v4
        with:
          name: cutecosmic-plugin
          path: result/lib/qt-6/plugins/platformthemes/libcutecosmictheme.so
